.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  font-family: var(--font-character);
}

@media (min-width: 768px) {
  .container {
    padding: 10px 4px 24px;
  }
}
