.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 6px 0;
}

.kakao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 12px;
  background-color: #fee500;
  color: rgba(0, 0, 0, 0.85);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-size: 16px;
  gap: 8px;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 12px;
  background-color: #24292f;
  color: #ffffff;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-size: 16px;
  gap: 8px;
}

.icon {
  width: 16px;
  height: 16px;
}

.divider {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #dddddd;
}

.divider span {
  flex: 0 0 auto;
}

.guest {
  border: none;
  background: none;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #555555;
}

@media (min-width: 768px) {
  .kakao,
  .github {
    height: 52px;
    font-size: 17px;
    gap: 10px;
  }

  .icon {
    width: 17px;
    height: 17px;
  }
}
